page-plant-details{
    ion-icon{
        color: grey;
    }

    ion-content{
        background-color: whitesmoke;
    }

    .main-pic{
        height: 200px;
    }
    
    .flex-center{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    img{
        position: relative;
        width: inherit;
        height: 100%;
        padding-top: 5px;
        margin: auto;
    }

    .background{
        background-color: #329D9C;
    }

    .border-top{
        // border-top: 1px solid grey;
        margin-top: 10px;
    } 

    .content-md {
        color: black;
        background-color: whitesmoke;
    }

    .margin-top-large{
        margin-top: 70px;
    }

    ion-label{
        white-space: normal;
    }

    .icon-water{
        padding-left: 9px;
        
    }
 
    .icon-sunny{
        padding-left: 7px;
    }
    
    .icon-thermometer{
        padding-left: 11px;
     
    }
    .icon-resize{
       padding-left: 9px;
    }

    [col-8]{
        padding-left: 15px;
    }

    .AddPictureFab{
        position: absolute;
        top:200px;
    }
    
    .button{
        margin-left:10px !important;
        margin-right: 10px !important;
        max-width: 90%;
        
    }

    .buttonCenter{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
}