<ion-header>
  <ion-navbar>
    <ion-title>Plant Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-fab right top>
      <button ion-fab><ion-icon color="white" name="arrow-down"></ion-icon></button>
      <ion-fab-list side="bottom" color="white">
        <button class="background" ion-fab (click)="onEditPlant()"><ion-icon color="white" name="color-wand"></ion-icon></button>
        <button class="background" ion-fab (click)="onRemovePlant()"><ion-icon color="white" name="trash"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>

    <!-- <ion-fab right top>
      <button ion-fab (click)="onRemovePlant()">
        <ion-icon color="white" name="trash"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab right top class="margin-top-large">
      <button ion-fab (click)="onRemovePlant()">
        <ion-icon color="white" name="trash"></ion-icon>
      </button>
    </ion-fab> -->

    <div class="main-pic">
      <img src="{{ plant.image }}">
    </div>

    <hr />

    <ion-item class="border-top">
      <h1>{{ plant.name }}</h1>
      <p>{{ plant.description }}</p>
    </ion-item>

    <hr />

    <div class="buttonCenter" *ngIf="allowDisplay">
      <button ion-button block class="button" (click)="onGetSuggestion()">Get Symbiotic Suggestions</button>
    </div>
    <!-- <ion-card>
      <ion-card-header>
        <h3><strong>Symbiotic relationships:</strong></h3>
      </ion-card-header>

      <ion-list>
        <button ion-item style="margin-left: 10px;">
         
          <button ion-button clear (click)="onViewSymbios(0)" item-end>View</button>
          Mutualistic({{plant.symbiosis["mutualistic"].length}})
        </button>

        <button ion-item style="margin-left: 10px;">
          
          <button ion-button clear (click)="onViewSymbios(1)" item-end>View</button>
          Parasitic({{plant.symbiosis["parasitic"].length}})
        </button>

        <button ion-item style="margin-left: 10px;">
   
          <button ion-button clear (click)="onViewSymbios(2)" item-end>View</button>
          Competition({{plant.symbiosis["competition"].length}})
        </button>

        <button ion-item style="margin-left: 10px;">
        
          <button ion-button clear (click)="onViewSymbios(3)" item-end>View</button>
          Commensalistic({{plant.symbiosis["commensalistic"].length}})
        </button>

      </ion-list>
    </ion-card> -->




    <ion-item class="plantProperties">
      <ion-row class="flex-center">
        <ion-col col-1>
          <ion-icon name="water" item-start class="icon-water"></ion-icon>
        </ion-col>
        <ion-col col-8>
          Water Consumption
        </ion-col>
        <ion-col col-3>
          <ion-icon name="star" *ngIf="plant.water >= 1"></ion-icon>
          <ion-icon name="star" *ngIf="plant.water >= 2"></ion-icon>
          <ion-icon name="star" *ngIf="plant.water >= 3"></ion-icon>

          <ion-icon name="star-outline" *ngIf="plant.water < 1"></ion-icon>
          <ion-icon name="star-outline" *ngIf="plant.water < 2"></ion-icon>
          <ion-icon name="star-outline" *ngIf="plant.water < 3"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item class="plantProperties">
      <ion-row class="flex-center">
        <ion-col col-1>
          <ion-icon name="sunny" item-start class="icon-sunny"></ion-icon>
        </ion-col>
        <ion-col col-8>
          Light Consumption
        </ion-col>
        <ion-col col-3>
          <ion-icon name="star" *ngIf="plant.light >= 1"></ion-icon>
          <ion-icon name="star" *ngIf="plant.light >= 2"></ion-icon>
          <ion-icon name="star" *ngIf="plant.light >= 3"></ion-icon>

          <ion-icon name="star-outline" *ngIf="plant.light < 1"></ion-icon>
          <ion-icon name="star-outline" *ngIf="plant.light < 2"></ion-icon>
          <ion-icon name="star-outline" *ngIf="plant.light < 3"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item class="plantProperties">
      <ion-row class="flex-center">
        <ion-col col-1>
          <ion-icon name="thermometer" item-start class="icon-thermometer"></ion-icon>
        </ion-col>
        <ion-col col-8>
          Temperature
        </ion-col>
        <ion-col col-3>
          <ion-icon name="star" *ngIf="plant.temperature >= 1"></ion-icon>
          <ion-icon name="star" *ngIf="plant.temperature >= 2"></ion-icon>
          <ion-icon name="star" *ngIf="plant.temperature >= 3"></ion-icon>

          <ion-icon name="star-outline" *ngIf="plant.temperature < 1"></ion-icon>
          <ion-icon name="star-outline" *ngIf="plant.temperature < 2"></ion-icon>
          <ion-icon name="star-outline" *ngIf="plant.temperature < 3"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item class="plantProperties">
      <ion-row class="flex-center">
        <ion-col col-1>
          <ion-icon name="resize" item-start class="icon-resize"></ion-icon>
        </ion-col>
        <ion-col col-8>
          Size
        </ion-col>
        <ion-col col-3>
          <ion-icon name="star" *ngIf="plant.size >= 1"></ion-icon>
          <ion-icon name="star" *ngIf="plant.size >= 2"></ion-icon>
          <ion-icon name="star" *ngIf="plant.size >= 3"></ion-icon>

          <ion-icon name="star-outline" *ngIf="plant.size < 1"></ion-icon>
          <ion-icon name="star-outline" *ngIf="plant.size < 2"></ion-icon>
          <ion-icon name="star-outline" *ngIf="plant.size < 3"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>



</ion-content>