<ion-header>
  <ion-navbar>
    <ion-title>Plants</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <!-- <ion-item *ngFor="let plant of getPlants(); let i = index" (click)="onPlantDetailsPage(plant)">
  
    <h1>{{plant.name}}</h1>
    <h3 style="overflow: hidden; width: 95%;">{{plant.description}}</h3>

  </ion-item> -->

  <ion-list>
    <ion-item-sliding *ngFor="let plant of getPlants(); let i = index">
      <ion-item (click)="onPlantDetailsPage(plant)">
        <ion-avatar item-start>
          <img src="{{ plant.image }}">
        </ion-avatar>
        <h2>{{plant.name}}</h2>
        <p style="overflow: hidden; width: 95%;">{{plant.description}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="grey" (click)="onEditPlant(plant)">
          <ion-icon name="color-wand" color="white"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" (click)="onRemovePlant(plant)">
          <ion-icon name="trash" color="white"></ion-icon>
          Remove
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="onAddPlant()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>