    <ion-list *ngIf="symbiosis">
      <button ion-item *ngFor="let plant of plantsView; let i = index">
  
        <h1>{{plant.name}}</h1>
        <p>{{plant.description}}</p>
  
        <ion-icon name="add" item-end *ngIf="symbiosis && !plant.exist"  (click)="onAddPlant(i)"></ion-icon>
        <ion-icon name="remove" item-end *ngIf="symbiosis && plant.exist" (click)="onRemovePlant(i)"></ion-icon>
  
      </button>
    </ion-list>

    <ion-list *ngIf="!symbiosis">
      <ion-item  *ngFor="let plant of plantsView; let i = index" (click)="onPlantClick(plant)">
  
        <h1>{{plant.name}}</h1>
        <h3 style="padding-right: 5px;">{{plant.description}}</h3>
      </ion-item>
    </ion-list>
