<ion-header>
  <ion-navbar>
    <ion-title>
      Suggestions
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label stacked>Plant name:</ion-label>
    <ion-input type="text"  (ionChange)="search()" [(ngModel)]="name"></ion-input>
  </ion-item>

  <p padding class="text" *ngIf="name.length == 0">
    Enter the plant name to get the best suggestions!
  </p>

  <p padding class="text" *ngIf="check.noSymbiosis">
    There is no symbiotic relationship for this plant.
  </p>


  <ion-card margin-bottom *ngIf="check.hasMutualistic">
    <div class="flex-row">
      <ion-label padding-left><strong>Mutualistic <span class="number">{{activePlant.symbiosis["mutualistic"].length}}</span></strong></ion-label>
      <button ion-button clear (click)="onViewSymbios(0)" >View All</button>
    </div>
    <hr/>
    <div class="flex-row space-padding">
      <div class="centered" *ngFor="let plant of getPlants(0)" (click)="onPlantDetailsPage(plant)">
        <img class="img-round" src="{{ plant.image }}">
        <span>{{ plant.name }}</span>
      </div>
    </div>
  </ion-card>

  <ion-card margin-bottom *ngIf="check.hasParasitic">
    <div class="flex-row">
      <ion-label padding-left><strong>Parasitic <span class="number">{{activePlant.symbiosis["parasitic"].length}}</span></strong></ion-label>
      <button ion-button clear (click)="onViewSymbios(1)" >View All</button>
    </div>
    <hr/>
    <div class="flex-row space-padding">
      <div class="centered" *ngFor="let plant of getPlants(1)" (click)="onPlantDetailsPage(plant)">
        <img class="img-round" src="{{ plant.image }}">
        <span>{{ plant.name }}</span>
      </div>
    </div>
  </ion-card>

  <ion-card margin-bottom *ngIf="check.hasCompetition">
    <div class="flex-row">
      <ion-label padding-left><strong>Competition <span class="number">{{activePlant.symbiosis["competition"].length}}</span></strong></ion-label>
      <button ion-button clear (click)="onViewSymbios(2)" >View All</button>
    </div>
    <hr/>
    <div class="flex-row space-padding" >
      <div class="centered" *ngFor="let plant of getPlants(2)" (click)="onPlantDetailsPage(plant)">
        <img class="img-round" src="{{ plant.image }}">
        <span>{{ plant.name }}</span>
      </div>
    </div>
  </ion-card>
 
  <ion-card margin-bottom *ngIf="check.hasCommensalistic">
    <div class="flex-row">
      <ion-label padding-left><strong>Commensalistic <span class="number">{{activePlant.symbiosis["commensalistic"].length}}</span></strong></ion-label>
      <button ion-button clear (click)="onViewSymbios(3)" >View All</button>
    </div>
    <hr/>
    <div class="flex-row space-padding">
      <div class="centered" *ngFor="let plant of getPlants(3)" (click)="onPlantDetailsPage(plant)">
        <img class="img-round" src="{{ plant.image }}">
        <span>{{ plant.name }}</span>
      </div>
    </div>
  </ion-card>


</ion-content>