page-suggestion {
    img.img-round{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        margin-bottom: 5px;
    }

    .flex-row{
        display: flex;
        flex-direction: row;
    }

    .space-padding{
        justify-content: space-around;
        padding: 10px 16px 10px 16px;
    }

    .centered{
        text-align: center;
        margin-right: 15px;
    }

    .centered:last-child{
        margin-right: 0px !important;
    }

    span{
        font-size: 12px;
    }

    hr{
        padding: 0;
        margin: 0;
    }

    .text{
        text-align: center !important;
        color: grey !important;
    }
    .number{
        color:grey;
    }

}
