<ion-header>
  <ion-navbar>
    <ion-title>New Plant</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="padding-except-top">

    <div class="main-pic" (click)="onGallery()">
      <img src="{{ plant.image }}">
    </div>

    <hr/>

    <ion-item>
      <ion-label fixed>Name:</ion-label>
      <ion-input [(ngModel)]="plant.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Description:</ion-label>
      <ion-input [(ngModel)]="plant.description" type="text"></ion-input>
    </ion-item>

    <hr/>

    <ion-title class="padding-small">
      <h2>Add symbiotic relationships</h2>
    </ion-title>

    <hr/>

    <ion-list>
      <button ion-item (click)="onAddSymbios(0)">
        <ion-icon name="happy" item-end></ion-icon>
        <ion-icon name="happy" item-end></ion-icon>
        <span class="colored">Mutualistic</span>
      </button>

      <button ion-item (click)="onAddSymbios(1)">
        <ion-icon name="happy" item-end></ion-icon>
        <ion-icon name="sad" item-end></ion-icon>
        <span class="colored">Parasitic</span>
      </button>

      <button ion-item (click)="onAddSymbios(2)">
        <ion-icon name="sad" item-end></ion-icon>
        <ion-icon name="sad" item-end></ion-icon>
        <span class="colored">Competition</span>
      </button>

      <button ion-item (click)="onAddSymbios(3)">
        <ion-icon name="happy" item-end></ion-icon>
        <ion-icon name="sad" item-end></ion-icon>
        <span class="colored">Commensalistic</span>
      </button>

    </ion-list>
    <hr/>

    <ion-item>
      <ion-row>
        <ion-col col-8 no-padding class="flex-center">
          Water Consumption:
        </ion-col>
        <ion-col col-4>
          <ion-icon name="star" (click)="onStar(0, 'water')" *ngIf="plant.water >= 1"></ion-icon>
          <ion-icon name="star" (click)="onStar(1, 'water')" *ngIf="plant.water >= 2"></ion-icon>
          <ion-icon name="star" (click)="onStar(2, 'water')" *ngIf="plant.water >= 3"></ion-icon>

          <ion-icon name="star-outline" (click)="onStar(1, 'water')" *ngIf="plant.water < 1"></ion-icon>
          <ion-icon name="star-outline" (click)="onStar(2, 'water')" *ngIf="plant.water < 2"></ion-icon>
          <ion-icon name="star-outline" (click)="onStar(3, 'water')" *ngIf="plant.water < 3"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <hr />
    <ion-item>
      <ion-row>
        <ion-col col-8 no-padding class="flex-center">
          Light Consumption:
        </ion-col>
        <ion-col col-4>
          <ion-icon name="star" (click)="onStar(0, 'light')" *ngIf="plant.light >= 1"></ion-icon>
          <ion-icon name="star" (click)="onStar(1, 'light')" *ngIf="plant.light >= 2"></ion-icon>
          <ion-icon name="star" (click)="onStar(2, 'light')" *ngIf="plant.light >= 3"></ion-icon>

          <ion-icon name="star-outline" (click)="onStar(1, 'light')" *ngIf="plant.light < 1"></ion-icon>
          <ion-icon name="star-outline" (click)="onStar(2, 'light')" *ngIf="plant.light < 2"></ion-icon>
          <ion-icon name="star-outline" (click)="onStar(3, 'light')" *ngIf="plant.light < 3"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <hr />
    <ion-item >
      <ion-row>
        <ion-col col-8 no-padding class="flex-center">
          Temperature:
        </ion-col>
        <ion-col col-4>
          <ion-icon name="star" (click)="onStar(0, 'temperature')" *ngIf="plant.temperature >= 1"></ion-icon>
          <ion-icon name="star" (click)="onStar(1, 'temperature')" *ngIf="plant.temperature >= 2"></ion-icon>
          <ion-icon name="star" (click)="onStar(2, 'temperature')" *ngIf="plant.temperature >= 3"></ion-icon>

          <ion-icon name="star-outline" (click)="onStar(1, 'temperature')" *ngIf="plant.temperature < 1"></ion-icon>
          <ion-icon name="star-outline" (click)="onStar(2, 'temperature')" *ngIf="plant.temperature < 2"></ion-icon>
          <ion-icon name="star-outline" (click)="onStar(3, 'temperature')" *ngIf="plant.temperature < 3"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <hr />
    <ion-item >
      <ion-row>
        <ion-col col-8 no-padding class="flex-center">
          Size:
        </ion-col>
        <ion-col col-4>
          <ion-icon name="star" (click)="onStar(0, 'size')" *ngIf="plant.size >= 1"></ion-icon>
          <ion-icon name="star" (click)="onStar(1, 'size')" *ngIf="plant.size >= 2"></ion-icon>
          <ion-icon name="star" (click)="onStar(2, 'size')" *ngIf="plant.size >= 3"></ion-icon>

          <ion-icon name="star-outline" (click)="onStar(1, 'size')" *ngIf="plant.size < 1"></ion-icon>
          <ion-icon name="star-outline" (click)="onStar(2, 'size')" *ngIf="plant.size < 2"></ion-icon>
          <ion-icon name="star-outline" (click)="onStar(3, 'size')" *ngIf="plant.size < 3"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <hr />

    <div class="full-width flex-center">
      <button ion-button [disabled]="!plant.name || !plant.description" (click)="onAddPlant()" *ngIf="pageType == 'add'">
        Add the plant
      </button>
      <button ion-button [disabled]="!plant.name || !plant.description" (click)="onEditPlant()" *ngIf="pageType == 'edit'">
        Edit the plant
      </button>
    </div>
  </ion-card>

</ion-content>