page-add-plant{
    .padding-except-top{
        padding: 0px 8px 8px 8px;
    }

    .content-md, .content-ios{
        background-color: #fafafa;
    }

    .flex-center{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .padding-small{
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .colored{
        color: grey;
    }

    ion-content{
        background-color: whitesmoke;
    }

    ion-icon{
        color: grey;
    }

    .main-pic{
        height: 200px;
    }

    img{
        position: relative;
        width: inherit;
        height: 100%;
        padding-top: 5px;
        margin: auto;
    }

    
}