<ion-header>
    <ion-navbar>
        <ion-title>
            {{ type }} relationship
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <plants-list [plants]="plants" [plant]="plant" [symbiosis]="symbiosis" [type]="type" [existedList]="list" (onAddPlantPressed)="onAddPlant($event)" (onRemovePlantPressed)="onRemovePlant($event)"></plants-list>

    <button margin-left ion-button color="secondary" outline (click)="onDismiss()">done</button>

</ion-content>